audio/stacker_music.band/projectData
audio/stacker_music.band/Alternatives/000/DisplayState.plist
audio/stacker_music.band/Alternatives/000/DisplayStateArchive
audio/stacker_music.band/Alternatives/000/MetaData.plist
audio/stacker_music.band/Alternatives/000/ProjectData
audio/stacker_music.band/Alternatives/000/WindowImage.jpg
audio/stacker_music.band/Media/Impulse Responses/1.6s_Short Vocal Hall.SDIR
audio/stacker_music.band/Resources/ProjectInformation.plist
audio/.DS_Store
.DS_Store
